* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}

article {
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

section {
  padding: 20px 20px;
  padding-top: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 4px;
  font-size: 13px;
  text-transform: uppercase;
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  margin-top: 10px;
}

p:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-right: 20px;
  color: hsl(228, 12%, 48%);
}

p:last-of-type {
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
}

s {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-left: 14px;
}

button {
  width: 100%;
  padding: 15px 5px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-icon {
  position: relative;
  padding-right: 10px;
}

@media screen and (max-width: 1399px) {
  article {
    max-width: 350px;
    padding-bottom: 10px;
  }

  .mainImage {
    max-width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media screen and (min-width: 1400px) {
  article {
    display: flex;
    width: 50%;
    margin-top: 150px;
  }

  article,
  .mainImage,
  section {
    max-height: 450px;
  }

  .mainImage {
    min-width: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  section {
    padding-top: 20px;
  }

  h1 {
    letter-spacing: 10px;
  }

  h2 {
    padding-right: 90px;
  }

  p:first-of-type {
    padding-right: 50px;
  }
}
